body{
    background-color: #eeebdd;
}

hr{
    background-color: #eeebdd;
    border-style: none;
    border-width: 5px;
    border-top-style: dotted;
    border-color: #a2b29f;
    width: 25%;
}

h1{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #206a5d;
}

h3{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #81b214;
}